streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
jupyterlab
notebook
scipy
langchain
langchain-ollama
langchain-chroma
langchain_community
pypdf
streamlit_folium
geopandas
shapely
folium
streamlit_folium
osmnx
networkx
joblib
momepy
posthog