streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
plotly
jupyterlab
notebook
scipy
langchain
langchain-ollama
langchain-chroma
langchain-community
pypdf
streamlit-folium
geopandas
shapely
folium
osmnx
networkx
joblib
momepy
posthog